.editor-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: whitesmoke;
    padding-top: 6vh;
}

.editor-page h3 {
    padding-bottom: 2vh;
    text-decoration: underline;
    color: rgb(168, 153, 240);
}

.edit-lesson-container {
    background-image: linear-gradient(to bottom, #203A43 0%, #6796A9 100%);
    color: whitesmoke;
    margin-bottom: 2vh;
    width: 50vw;
}

.edit-lesson {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    text-decoration: none;
    transition: 0.5s;
}

.edit-lesson:hover {
    color: white;
    box-shadow: 0 5px 15px #afe0f5;
}

.md-outline-container {
    width: 3vw;
    padding-left: 1vw;
    padding-right: 1vw;
}

.edit-lesson-details {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.edit-lesson-name {
    color: whitesmoke;
    padding-left: 3vw;
    padding-right: 3vw;
}

.edit-question-count {
    color: whitesmoke;
    padding-right: 3vw;
}

.edit-question-container {
    background-image: linear-gradient(to bottom, #203A43 0%, #6796A9 100%);
    color: whitesmoke;
    margin-bottom: 2vh;
    width: 40vw;
}

.edit-question {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: 0.5s;
    color: whitesmoke;
}

.edit-question:hover {
    box-shadow: 0 5px 15px #afe0f5;
}

.edit-question-details{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.edit-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 4vh;
    margin-bottom: 4vh;
}

.add-new-question {
    background-image: linear-gradient(to bottom, #c8fa87 0%, #5ad148 100%);
    color: black;
    padding-left: 2vw;
    padding-right: 2vw;
    height: 4vh;
    text-align: center;
    transition: 0.5s;
    cursor: pointer;
    margin-left: 2vw;
}

.add-new-question:hover {
    color: black;
    box-shadow: 0 5px 15px #afe0f5;
}

.delete-lesson {
    background-image: linear-gradient(to bottom, #fa8787 0%, #d1485d 100%);
    color: black;
    padding-left: 2vw;
    padding-right: 2vw;
    height: 4vh;
    text-align: center;
    transition: 0.5s;
    cursor: pointer;
    margin-left: 2vw;
}

.delete-lesson:hover {
    color: black;
    box-shadow: 0 5px 15px #afe0f5;
}

.add-new-lesson {
    background-image: linear-gradient(to bottom, #87CEFA 0%, #48D1CC 100%);
    color: black;
    padding-left: 2vw;
    padding-right: 2vw;
    height: 4vh;
    text-align: center;
    transition: 0.5s;
    cursor: pointer;
    margin-bottom: 8vh;
    margin-top: 4vh;
}

.add-new-lesson:hover {
    color: black;
    box-shadow: 0 5px 15px #afe0f5;
}

.add-new-lesson-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: whitesmoke;
    padding-top: 6vh;
}

.add-new-lesson-page h2 {
    padding-bottom: 2vh;
    text-decoration: underline;
    color: rgb(250, 249, 195);
}

.add-new-lesson-container {
    background-image: linear-gradient(to bottom, #353535 0%, #3d4d40 100%);
    color: whitesmoke;
    margin-bottom: 2vh;
    width: 50vw;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.add-lesson-form {
    margin-top: 4vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 50vh;
    margin-bottom: 4rem;
}

.add-lesson-form label {
    margin-top: 1rem;
    font-size: 25px;
}

.add-lesson-form input {
    font-family: 'Open Sans', sans-serif;
    width: 30vh;
    font-size: 1rem;
    padding: 0.25rem;
    border-radius: 0.25rem;
    margin-right: 0.25rem;
    outline: none;
    margin-top: 2rem;
}

.add-lesson-form button {
    margin-top: 2rem;
    border-radius: 10px;
    padding: 0.5rem;
    font-size: 1rem;
    cursor: pointer;
    margin-bottom: 2rem;
    border: none;
    background-color: rgb(183, 208, 217);
    transition: 0.5s;
}

.add-lesson-form button:hover {
    background-color: lightgoldenrodyellow;
}

.add-new-question-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: whitesmoke;
    padding-top: 6vh;
}

.add-new-question-page h2 {
    padding-bottom: 2vh;
    text-decoration: underline;
    color: rgb(250, 249, 195);
}

.add-new-question-container {
    background-image: linear-gradient(to bottom, #353535 0%, #3d4d40 100%);
    color: whitesmoke;
    margin-bottom: 2vh;
    width: 50vw;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.add-question-form {
    margin-top: 4vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 50vh;
    margin-bottom: 4rem;
}

.add-question-form label {
    margin-top: 1rem;
    font-size: 25px;
}

.add-question-form input {
    font-family: 'Open Sans', sans-serif;
    width: 30vh;
    font-size: 1rem;
    padding: 0.25rem;
    border-radius: 0.25rem;
    margin-right: 0.25rem;
    outline: none;
    margin-top: 2rem;
}

.add-question-form button {
    margin-top: 2rem;
    border-radius: 10px;
    padding: 0.5rem;
    font-size: 1rem;
    cursor: pointer;
    margin-bottom: 2rem;
    border: none;
    background-color: rgb(183, 208, 217);
    transition: 0.5s;
}

.add-question-form button:hover {
    background-color: lightgoldenrodyellow;
}

.return-home-from-editor {
    background-image: linear-gradient(to bottom, #3D2657 0%, #B159D3 100%);
    padding-left: 2vw;
    padding-right: 2vw;
    height: 4vh;
    text-align: center;
    transition: 0.5s;
    cursor: pointer;
    margin-bottom: 8vh;
}

.return-home-from-editor:hover {
    color: white;
    box-shadow: 0 5px 15px #afe0f5;
}