.lessons-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: whitesmoke;
    padding-top: 6vh;
}

.lessons-page h3 {
    padding-bottom: 2vh;
    text-decoration: underline;
    color: rgb(168, 153, 240);
}

.lesson-container {
    background-image: linear-gradient(to bottom, #203A43 0%, #6796A9 100%);
    color: whitesmoke;
    margin-bottom: 2vh;
    width: 50vw;
}

.lesson {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    text-decoration: none;
    transition: 0.5s;
}

.lesson:hover {
    color: white;
    box-shadow: 0 5px 15px #afe0f5;
}

.md-outline-container {
    width: 3vw;
    padding-left: 1vw;
    padding-right: 1vw;
}

.lesson-details {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.lesson-name {
    color: whitesmoke;
    padding-left: 3vw;
    padding-right: 3vw;
}

.question-count {
    color: whitesmoke;
    padding-right: 3vw;
}

.join-quiz {
    margin-top: 4vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(to bottom, #203A43 0%, #6796A9 100%);
    width: 50vh;
    margin-bottom: 4rem;
}

.join-quiz label {
    margin-top: 1rem;
    font-size: 25px;
}

.join-quiz input {
    font-family: 'Open Sans', sans-serif;
    width: 30vh;
    font-size: 1rem;
    padding: 0.25rem;
    border-radius: 0.25rem;
    margin-right: 0.25rem;
    outline: none;
    margin-top: 2rem;
}

.join-quiz button {
    margin-top: 2rem;
    border-radius: 10px;
    padding: 0.5rem;
    font-size: 1rem;
    cursor: pointer;
    margin-bottom: 2rem;
    border: none;
    background-color: lightblue;
    transition: 0.5s;
}

.join-quiz button:hover {
    background-color: lightgoldenrodyellow;
}

.return-home {
    background-image: linear-gradient(to bottom, #3D2657 0%, #B159D3 100%);
    padding-left: 2vw;
    padding-right: 2vw;
    height: 4vh;
    text-align: center;
    transition: 0.5s;
    cursor: pointer;
    margin-bottom: 8vh;
}

.return-home:hover {
    color: white;
    box-shadow: 0 5px 15px #afe0f5;
}