.result-container {
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 6vh;
}

.hide-player-container {
    display: none;
}

.result-container h3{
    padding-bottom: 2vh;
    text-decoration: underline;
    color: rgb(182, 244, 253);
}

.player-container {
    background-image: linear-gradient(to bottom,white 0%, #fde7b2 50%, #c2b27a 100%);
    color: rgb(14, 99, 9);
    margin-bottom: 2vh;
    width: 50vw;
}

.player-results {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    text-decoration: none;
    transition: 0.5s;
}

.player-details {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    width: 100%;
}

.player-name {
    padding-left: 3vw;
    padding-right: 3vw;
}

.player-score {
    padding-right: 3vw;
}

.return-home {
    background-image: linear-gradient(to bottom, #3D2657 0%, #B159D3 100%);
    padding-left: 2vw;
    padding-right: 2vw;
    height: 4vh;
    text-align: center;
    margin-top: 3vh;
    transition: 0.5s;
    cursor: pointer;
}

.return-home:hover {
    color: white;
    box-shadow: 0 5px 15px #afe0f5;
}